body {
  background-color: #ffcc00;
  padding: 20px;
  margin: 0;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #fff;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099ff;
}
img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(
    3,
    minmax(200px, 1fr)
  ); /* Resized it to three because those are the proportions 
  I gave to each individual item*/
  grid-gap: 1rem;
}

.grid > div {
  background: #ede7f6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.about-portrait {
  grid-column: 1;
  grid-row: 2 / 5;
  flex: 33%;
  max-width: 100%;
  padding: 0 4px;
}

.about-text-1 {
  grid-column: 2;
  grid-row: 2 / 5;
}
.about-text-2 {
  grid-column: 3;
  grid-row: 2 / 5;
}
